@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Layout View */
  .container-page {
    @apply max-w-[900px] mx-auto;
  }

  /* Typography and Buttons */
  .btn {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    font-weight: 600;
    font-size: 16px;
    width: 100%;
  }

  .btn-black {
    background: #1c1c1e;
    color: #ffffff;
  }

  .btn-blue {
    background: #1a47ff;
    color: #ffffff;
  }

  .btn-white {
    background: white;
    color: black;
  }
}

/* Global styles */
body {
  font-family: "Poppins", system-ui;
}

.transition-colors {
  transition: background-color 0.3s ease;
}

.poppins-medium {
  font-weight: 500;
}

.poppins-semibold {
  font-weight: 600;
}

/* Utilities */
.LT-SB-2 {
  font-size: 32px;
  font-weight: 600;
}

.MT-SB-3 {
  font-size: 24px;
  font-weight: 600;
}

.MT-SB-2 {
  font-size: 20px;
  font-weight: 600;
}

.MT-SB-1 {
  font-size: 16px;
  font-weight: 600;
}

.MT-1 {
  font-size: 16px;
  font-weight: 500;
}

.ST-SB-4 {
  font-size: 14.4px;
  font-weight: 600;
}

.ST-SB-3 {
  font-size: 13px;
  font-weight: 600;
}

.ST-SB-2 {
  font-size: 11.2px;
  font-weight: 600;
}

.ST-SB-1 {
  font-size: 9.6px;
  font-weight: 600;
}

.ST-4 {
  font-size: 14.4px;
  font-weight: 500;
}

.ST-3 {
  font-size: 13px;
  font-weight: 500;
}

.ST-2 {
  font-size: 11.2px;
  font-weight: 500;
}

.ST-1 {
  font-size: 9.6px;
  font-weight: 500;
}

/* Countries Carousel */
.countries-carousel .swiper-wrapper {
  padding: 1rem 2rem !important;
}

.subjects-carousel .swiper-wrapper {
  padding: 1rem 0 !important;
}

@media (min-width: 340px) {
  .countries-carousel .swiper-wrapper {
    padding: 1rem 0 !important;
  }
}
